<div class="container" fxLayout="column" fxLayoutAlign="start stretch">
    <form class="example-form">
        <mat-form-field fxFlexFill>
            <input matInput placeholder="Id del Socio" type="text" [formControl]="idForm" [(ngModel)]="cedula">
            <mat-error *ngIf="idForm.hasError('required')">
                La identificacion es <strong>requerida</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <input matInput placeholder="Nombre del Socio" type="text" disabled [(ngModel)]="nombre" name="nombre">
        </mat-form-field>
        <div div fxLayout="row" fxLayoutAlign="start start" *ngIf="cedula">
            <button fxFlex="20" mat-icon-button class="center" (click)="posicionConsolidada()"><mat-icon>check_circle</mat-icon></button>
            <button fxFlex="20" mat-icon-button class="center" (click)="close()"><mat-icon>cancel</mat-icon></button>
        </div>
    </form>
</div>
<app-generar-cartas *ngFor="let dato of datos" [dato]="dato"></app-generar-cartas>
