<div class="container" fxLayout="column" fxLayoutAlign="start stretch">
    <form class="example-form">
        <mat-form-field fxFlexFill>
            <input matInput placeholder="Id del Socio" type="text" [formControl]="idForm" [(ngModel)]="cedula">
            <mat-error *ngIf="idForm.hasError('required')">
                La identificacion es <strong>requerida</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <input matInput placeholder="Nombre del Socio" type="text" disabled [(ngModel)]="nombre" name="nombre">
        </mat-form-field>
    </form>
    <app-generar-cartas *ngFor="let dato of datos" [dato]="dato"></app-generar-cartas>
</div>
<div div fxLayout="row" fxLayoutAlign="center start" *ngIf="cedula" class="float">
    <button mat-fab (click)="posicionConsolidada()" class="myfloat" color="primary"><mat-icon color="white">check_circle</mat-icon></button>
    <button mat-fab (click)="close()" class="myfloat" color="warn"><mat-icon>cancel</mat-icon></button>
</div>