<div class="example-form">
    <form>
        <mat-form-field fxFlexFill>
            <input matInput placeholder="Id del Socio" disabled="nombreForm2.valid" type="text" [formControl]="idForm2">
            <mat-error *ngIf="idForm2.hasError('required')">
                La identificacion es
                <strong>requerida</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <input matInput placeholder="Nombre del Socio" disabled type="text" [formControl]="nombreForm2">
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <mat-select placeholder="Grupo del Producto" [formControl]="grupoForm2">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <mat-select placeholder="Producto" [formControl]="productoForm2">
                <mat-option *ngFor="let producto of productos" [value]="producto.value">
                    {{producto.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div div fxLayout="row" fxLayoutAlign="center start" class="float">
    <button mat-fab (click)="campos()" class="myfloat" *ngIf="idForm2.valid && !nombreForm2.valid && internet.internet" color="primary">
        <mat-icon color="white">check_circle</mat-icon>
    </button>

    <button mat-fab (click)="campos2()" class="myfloat" *ngIf="idForm2.valid && nombreForm2.valid && grupoForm2.valid && !productoForm2.valid" color="primary">
        <mat-icon color="white">check_circle</mat-icon>
    </button>

    <button mat-fab (click)="enviar()" class="myfloat" *ngIf="idForm2.valid && nombreForm2.valid && grupoForm2.valid && productoForm2.valid" color="primary">
        <mat-icon color="white">check_circle</mat-icon>
    </button>

    <button mat-fab (click)="close()" class="myfloat" color="warn">
        <mat-icon>cancel</mat-icon>
    </button>
</div>