<div class="blanco">
  <form class="example-form">
    <mat-form-field class="center">
      <input matInput placeholder="Id del Socio" type="text" [formControl]="idForm2" >
      <mat-error *ngIf="idForm2.hasError('required')">
        La identificacion es <strong>requerida</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="center">
      <input matInput placeholder="Nombre del Socio" type="text">
    </mat-form-field>
    <mat-form-field class="center">
      <mat-select placeholder="Cuenta">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="center">
      <input matInput placeholder="Producto" type="text">
    </mat-form-field>
    <mat-form-field class="center">
      <input matInput placeholder="Saldo Capital Total" type="text">
    </mat-form-field>
    <mat-form-field class="center">
      <input matInput placeholder="Saldo Capital Vendido" type="text">
    </mat-form-field>
    <mat-form-field class="center">
      <input matInput placeholder="Intereses Mora + Intereses Prestamo Vencido" type="text">
    </mat-form-field>
    <mat-form-field class="center">
      <input matInput placeholder="Total Vencido a Pagar" type="text">
    </mat-form-field>
    <button mat-button class="center"> Ingresar</button>
  </form>
</div> 