<div class="container" fxLayout="column" fxLayoutAlign="start stretch">
    <div class = "fondo" [class.offline]=!internet>
        <h1><img src="assets/resources/mipmap-hdpi/logo_client.png" class="image" [class.offline]=!internet></h1>
    </div>
    <form>
        <mat-form-field fxFlexFill>
            <input matInput placeholder="Usuario" [formControl]="usernameFormControl" [(ngModel)]="usuario">
            <mat-error *ngIf="usernameFormControl.hasError('required')">
                El usuario es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <input matInput placeholder="Contraseña" type="password" [formControl]="passwordFormControl" [(ngModel)]="contrasena">
            <mat-error *ngIf="passwordFormControl.hasError('required')">
                La contraseña es <strong>requerida</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <div class="status" *ngIf=!internet>
            <mat-icon>signal_wifi_off</mat-icon>
        </div>
        <br>
        <br>
        <button class="button" (click)="login()" [class.offline]=!internet fxFlexFill>Ingresar</button>
        
    </form>
    <mat-progress-bar *ngIf=intento mode="indeterminate"></mat-progress-bar>
</div>