h1 {
    height: 100px;
    width: 100%;
    font-size: 18%;
    background: #18aa8d;
    color: white;
    line-height: 150%;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.input {
    width: 100%;
}

form h1 .image {
    -webkit-filter: drop-shadow(0px 0px 1px #222);
    filter: drop-shadow(0px 0px 1px #222);
    display: block;
}

/* form {
    box-sizing: border-box;
    margin: 60px auto 0px;
    width: 80%;
    height: 100%;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;
    border-radius: 3px;
} */

/* form .center {
    margin-left: 5%;
    display: block;
    border: none;
    width: 90%;
}
 */
button {
    border: none;
    background: #1abc9c;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 200px;
    color: white;
    margin-left: 25px;
    margin-top: 20px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 800px) {
    .boton{
        font-size: 5vw;
    }
  }
@media screen and (min-width: 801px) {
    .boton{
        font-size: 3.25vw;
    }
  }

button:hover {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}