<mat-card *ngIf="dato.subsistema == 04" class="cards04">
    <mat-card-header>
        <mat-card-title>{{dato.dproducto}}</mat-card-title>
        <mat-card-subtitle>
            <strong>Estado: </strong>{{dato.estado}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <table>
            <tr height="25">
                <td>
                    <strong>Número de cuenta: </strong>
                </td>
                <td>{{dato.ccuenta}}</td>
            </tr>
            <tr height="25">
                <td>
                    <strong>Usuario: </strong>
                </td>
                <td>
                    {{usuario}}
                </td>
            </tr>
            <tr height="25">
                <td>
                    <strong>Total: </strong>
                </td>
                <td>
                    {{dato.accounting}} {{dato.cmoneda}}
                </td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="dato.subsistema == 05" class="cards05">
    <mat-card-header>
        <mat-card-title>{{dato.dproducto}}</mat-card-title>
        <mat-card-subtitle>
            <strong>Estado: </strong>{{dato.estado}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <table>
            <tr height="25">
                <td>
                    <strong>Número de cuenta: </strong>
                </td>
                <td>{{dato.ccuenta}}</td>
            </tr>
            <tr height="25">
                <td>
                    <strong>Usuario: </strong>
                </td>
                <td>
                    {{usuario}}
                </td>
            </tr>
            <tr height="25">
                <td>
                    {{dato.accounting}}
                </td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="dato.subsistema == 06" class="cards06">
    <mat-card-header>
        <mat-card-title>{{dato.dproducto}}</mat-card-title>
        <mat-card-subtitle>
            <strong>Estado: </strong>{{dato.estado}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <table>
            <tr height="25">
                <td>
                    <strong>Número de cuenta: </strong>
                </td>
                <td>{{dato.ccuenta}}</td>
            </tr>
            <tr height="25">
                <td>
                    <strong>Usuario: </strong>
                </td>
                <td>
                    {{usuario}}
                </td>
            </tr>
            <tr height="25">
                <td>
                    <strong>Total: </strong>
                </td>
                <td>
                    {{dato.total}} {{dato.cmoneda}}
                </td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>