<div class="example-form" fxLayout="column" fxLayoutAlign="start stretch">
    <form>
        <mat-form-field fxFlexFill>
            <input matInput placeholder="Id del Socio" type="text" [formControl]="idForm2">
            <mat-error *ngIf="idForm2.hasError('required')">
                La identificacion es <strong>requerida</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <mat-select placeholder="Cuenta">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <input matInput placeholder="Primer Nombre" type="text">
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <input matInput placeholder="Segundo Nombre" type="text">
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <input matInput placeholder="Apellido Paterno" type="text">
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <input matInput placeholder="Apellido Materno" type="text">
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Fecha Nacimiento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <mat-select placeholder="Lugar de Nacimiento">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <mat-select placeholder="Sexo">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <mat-select placeholder="Estado Civil">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <input matInput placeholder="Numero de Cargas" type="text">
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <mat-select placeholder="Tipo Vivienda">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <input matInput placeholder="Direccion" type="text">
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <input matInput placeholder="Direccion de E-Mail" type="text">
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <input matInput placeholder="Numero de Telefono Celular" type="text">
        </mat-form-field>
        <mat-slide-toggle fxFlexFill>Independiente</mat-slide-toggle>
        <mat-form-field fxFlexFill>
            <input matInput placeholder="Tiempo Funcionamiento Negocio (Meses)" type="text">
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <mat-select placeholder="Ubicacion del Negocio">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <button mat-button fxFlexFill> Cancelar</button>
        <button mat-button fxFlexFill> Ingresar</button>
    </form>
</div>