/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* Clase para la apariencia del cuerpo del html
Define la altura, el ancho. tamano de fuente y los margenes. */
html,
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    margin-top: 0px;
    top: 0px;
    margin: 0 !important;
    padding: 0 !important;
}
/* Conjunto de declaraciones que se ejecutaran cuando se emplee la aplicacion en el navegador de mozilla */
@supports (-moz-appearance:none) {
    /* Clase para la apariencia del cuerpo del html
Define la altura, el ancho. tamano de fuente y los margenes. */
    body {
        height: 100%;
        width: 100%;
        font-size: 16px;
        margin-top: 0px;
        top: 0px;
        margin: 0 !important;
        padding: 0 !important;
    }
/* Clase estandar de los formularios
ajusta altura minima, ancho, y margenes derecho e izquierdo. */
    .example-form {
        min-height: 83.5vh;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    /* Clase fondo de los botones cancelar y aceptar */
    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
    }
    /* Clase botones cancelar y aceptar */
    .my-float {
        margin-top: 22px;
    }
    /* Clase de la etiqueta h1 
    ajusta la altura, ancho, tamano de fuente*/
    h1 {
        height: 100px;
        width: 100%;
        font-size: 18%;
        /* background: #18aa8d; */
        /* color: white; */
        line-height: 150%;
        border-radius: 3px 3px 0 0;
        box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
        /*  background-color: #18aa8d;
        transition: background-color 1s ease; */
    }
        /* Clase de mat-form-field
        cambia el display por defecto*/
    .mat-form-field{
        display: inline !important;
    }
/* Ajusta los margenes y las alturas de los botones */
    .button{
        margin-top: 0% !important;
        min-height: 0% !important;
        height: 20% !important;
    }
}

/* Clase estandar de los formularios
ajusta altura minima, ancho, y margenes derecho e izquierdo. */
.example-form {
    min-height: 83.5vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
    /* Clase fondo de los botones cancelar y aceptar */
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
}
    /* Clase botones cancelar y aceptar */
.my-float {
    margin-top: 22px;
}