/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    margin-top: 0px;
    top: 0px;
    margin: 0 !important;
    padding: 0 !important;
}
@supports (-moz-appearance:none) {
    body {
        height: 100%;
        width: 100%;
        font-size: 16px;
        margin-top: 0px;
        top: 0px;
        margin: 0 !important;
        padding: 0 !important;
    }
    .example-form {
        min-height: 83.5vh;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
    }
    
    .my-float {
        margin-top: 22px;
    }
    h1 {
        height: 100px;
        width: 100%;
        font-size: 18%;
        /* background: #18aa8d; */
        /* color: white; */
        line-height: 150%;
        border-radius: 3px 3px 0 0;
        box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
        /*  background-color: #18aa8d;
        transition: background-color 1s ease; */
    }
    .mat-form-field{
        display: inline !important;
    }
    .button{
        margin-top: 0% !important;
        min-height: 0% !important;
        height: 20% !important;
    }
}
.example-form {
    min-height: 83.5vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
}

.my-float {
    margin-top: 22px;
}