/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    margin-top: 0px;
    top: 0px;
    margin: 0 !important;
    padding: 0 !important;
}

.example-form {
    min-height: 83.5vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
}

.my-float {
    margin-top: 22px;
}

.mat-form-field-placeholder {
    font-size: 104px !important;
}