.tabs{
    font-size: 15px;
    margin-left: -10px;
    margin-right: 18px;
    margin-top: -10px;
    background: repeating-linear-gradient(#18aa8b, #18aa8b 19.9%, #ffffff 10.1%, #ffffff 100%)
}
.cabecera{
  background-color: #18aa8b;
  margin-left: -10px;
  margin-top: -10px;
}
.blanco{
    background-color: white;
    color: black;
}
.imagen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    background-color: #18aa8b;
}
.imagen2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
}
.example-sidenav {
  align-items: center;
  justify-content: center;
  width: 200px;
}

.example-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width{
    width: 100%;
  }

  .center {
    margin: 0% 25%;
    width: 200px;
    display: block;
    border: none;
    padding: 0px 0;
}
/**sdiedke nav*/
.example-container {
    position: absolute;
    top: 50px;
    bottom: 60px;
    left: 0;
    right: 0;
  }

  .example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
