<div [class.example-is-mobile]="mobileQuery.matches" class="inicioPag">
    <mat-sidenav-container (swipe)="cerrarMenu($event)" class="example-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav (swipe)="cerrarMenu($event)" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" closed class="example-sidenav">
            <div class="borde">
                <img src="assets/resources/mipmap-hdpi/logo_client.png" class="imagen2" [class.offline]=!internet/>
            </div>
            <button mat-button class="oculto"></button>
            <button mat-button (click)="move(0);snav.close()">
                <mat-icon>account_box</mat-icon> {{idiomas.PosicionConsolidada}}</button>
            <button mat-button (click)="move(1);snav.close()">
                <mat-icon>attach_money</mat-icon> {{idiomas.SaldoAhorros}}</button>
            <button mat-button (click)="move(2);snav.close()">
                <mat-icon>money_off</mat-icon> {{idiomas.SaldoPrestamos}}</button>
            <button mat-button (click)="move(3);snav.close()">
                <mat-icon>accessibility_new</mat-icon> {{idiomas.CreacionPersonas}}</button>
            <button mat-button (click)="move(4);snav.close()">
                <mat-icon>account_balance</mat-icon> {{idiomas.AperturaCuentas}}</button>
            <button mat-button (click)="move(5);snav.close()">
                <mat-icon>money</mat-icon> {{idiomas.Depositos}}</button>
            <button mat-button (click)="move(6);snav.close()">
                <mat-icon>money</mat-icon> {{idiomas.Retiros}} </button>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar class="cabecera" [class.offline]=!internet>
                <button class="boton" (click)="snav.open()">
                    <mat-icon>menu</mat-icon>
                </button>
                <img src="assets/resources/mipmap-hdpi/logo_client.png" class="imagen" [class.offline]=!internet/>
                <div class="icono" *ngIf=!internet>
                    <mat-icon>signal_wifi_off</mat-icon>
                </div>
                <button mat-icon-button [matMenuTriggerFor]="CerrarSesion">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #CerrarSesion="matMenu">
                    <button mat-menu-item (click)=logout()>{{idiomas.CerrarSesion}}</button>
                    <button mat-menu-item (click)=espanol()>Español</button>
                    <button mat-menu-item (click)=ingles()>English</button>
                </mat-menu>
            </mat-toolbar>
            <mat-tab-group class="tabs" [class.offline]=!internet (selectedIndexChange)="selectedIndexChange($event)" [selectedIndex]="selectedIndex">
                <mat-tab label={{idiomas.PosicionConsolidada}}>
                    <div class="contenido" (swipe)="deslizar($event)">
                        <app-form-posicion-consolidada></app-form-posicion-consolidada>
                    </div>
                </mat-tab>
                <mat-tab label={{idiomas.SaldoAhorros}}>
                    <div class="contenido" (swipe)="deslizar($event)">
                        <app-form-saldo-ahorros class="deb"></app-form-saldo-ahorros>
                    </div>
                </mat-tab>
                <mat-tab label={{idiomas.SaldoPrestamos}}>
                    <div class="contenido" (swipe)="deslizar($event)">
                        <app-form-saldo-prestamos></app-form-saldo-prestamos>
                    </div>
                </mat-tab>
                <mat-tab label={{idiomas.CreacionPersonas}}>
                    <div class="contenido" (swipe)="deslizar($event)">
                        <app-form-creacion-de-personas></app-form-creacion-de-personas>
                    </div>

                </mat-tab>
                <mat-tab label={{idiomas.AperturaCuentas}}>
                    <div class="contenido" (swipe)="deslizar($event)">
                        <app-form-apertura-de-cuentas></app-form-apertura-de-cuentas>
                    </div>
                </mat-tab>
                <mat-tab label={{idiomas.Depositos}}>
                    <div class="contenido" (swipe)="deslizar($event)">
                        <app-form-depositos></app-form-depositos>
                    </div>
                </mat-tab>
                <mat-tab label={{idiomas.Retiros}}>
                    <div class="contenido" (swipe)="deslizar($event)">
                        <app-form-retiros></app-form-retiros>
                    </div>

                </mat-tab>
            </mat-tab-group>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>