<mat-toolbar class="cabecera">
<button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
<img src="assets/resources/mipmap-hdpi/logo_client.png" class="imagen" />
</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav #snav mode="side" closed class="example-sidenav">
      <img src="assets/resources/mipmap-hdpi/logo_client.png" class="imagen2" />
        <button mat-button><mat-icon>account_box</mat-icon> Posición Consolidada</button>
        <button mat-button><mat-icon>attach_money</mat-icon> Saldo Ahorros</button>
        <button mat-button><mat-icon>money_off</mat-icon> Saldo Préstamos</button>
        <button mat-button><mat-icon>accessibility_new</mat-icon> Creación de Personas</button>
        <button mat-button><mat-icon>account_balance</mat-icon> Apertura de Cuentas</button>
        <button mat-button><mat-icon>money</mat-icon> Depósitos</button>
        <button mat-button><mat-icon>money</mat-icon> Retiros </button>
        <button mat-button><mat-icon>close</mat-icon> Cerrar Sesión </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-tab-group class="tabs">
            <mat-tab label="POSICION CONSOLIDADA">
                <app-form-posicion-consolidada></app-form-posicion-consolidada>
            </mat-tab>
            <mat-tab class="blanco" label="SALDO AHORROS">
               <app-form-saldo-ahorros></app-form-saldo-ahorros>
            </mat-tab>
            <mat-tab label="SALDO PRESTAMOS">
                <app-form-saldo-prestamos></app-form-saldo-prestamos>
            </mat-tab>
            <mat-tab label="CREACION DE PERSONAS">
               <app-form-creacion-de-personas></app-form-creacion-de-personas>
            </mat-tab>
            <mat-tab label="APERTURA DE CUENTAS">
                <app-form-apertura-de-cuentas></app-form-apertura-de-cuentas>
            </mat-tab>
            <mat-tab label="DEPOSITOS">
                <app-form-depositos></app-form-depositos>
            </mat-tab>
            <mat-tab label="RETIROS">
                <app-form-retiros></app-form-retiros>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>
