<div class="example-form" fxLayout="column" fxLayoutAlign="start stretch">
    <form>
        <mat-form-field fxFlexFill>
            <input matInput placeholder="Id del Socio" type="text" [formControl]="idForm2">
            <mat-error *ngIf="idForm2.hasError('required')">
                La identificacion es
                <strong>requerida</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <input matInput placeholder="Nombre del Socio" type="text" value={{nombre}}>
        </mat-form-field>
        <mat-form-field *ngIf="internet.internet" fxFlexFill>
            <mat-select placeholder="Cuenta" [formControl]="cuentaForm2">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="!internet.internet" fxFlexFill>
            <input matInput placeholder="Cuenta" type="text" [formControl]="cuentaForm" name="cuenta">
        </mat-form-field>
        <mat-form-field fxFlexFill>
            <input matInput placeholder="Cantidad" type="text" [formControl]="cantidadForm">
        </mat-form-field>
    </form>
</div>
<div div fxLayout="row" fxLayoutAlign="center start" *ngIf="idForm2.valid && !nombre" class="float">
    <button mat-fab (click)="campos()" class="myfloat" color="primary">
        <mat-icon color="white">check_circle</mat-icon>
    </button>
    <button mat-fab (click)="close()" class="myfloat" color="warn">
        <mat-icon>cancel</mat-icon>
    </button>
</div>
<div div fxLayout="row" fxLayoutAlign="center start" *ngIf="idForm2.valid && (cuentaForm.valid && !internet.internet || cuentaForm2.valid && internet.internet)" class="float">
    <button mat-fab (click)="depositar()" class="myfloat" color="primary">
        <mat-icon color="white">check_circle</mat-icon>
    </button>
    <button mat-fab (click)="close()" class="myfloat" color="warn">
        <mat-icon>cancel</mat-icon>
    </button>
</div>