<div class="example-form" fxLayout="column" fxLayoutAlign="start stretch">
    <form>
        <mat-form-field fxFlexFill *ngIf="internet.internet">
            <input appHighlight matInput placeholder={{idiomas.idSocio}} type="text" [formControl]="idForm2">
            <mat-error *ngIf="idForm2.hasError('required')">
                {{idiomas.msjIdRequerido}}
            </mat-error>
            <mat-error *ngIf="idForm2.hasError('pattern')">
                <strong>{{idiomas.msjSoloNumeros}} </strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlexFill *ngIf="!internet.internet">
            <input appHighlight matInput placeholder={{idiomas.idSocio}} type="text" [formControl]="idForm">
            <mat-error *ngIf="idForm.hasError('required')">
                {{idiomas.msjIdRequerido}}
            </mat-error>
            <mat-error *ngIf="idForm.hasError('pattern')">
                <strong>{{idiomas.msjSoloNumeros}} </strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlexFill *ngIf="internet.internet">
            <input matInput placeholder={{idiomas.nombreSocio}} disabled type="text" value={{nombreonl}}>
        </mat-form-field>
        <mat-form-field *ngIf="internet.internet" fxFlexFill>
            <mat-select placeholder={{idiomas.Cuenta}} [formControl]="cuentaForm2">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="!internet.internet" fxFlexFill>
            <input appHighlight matInput placeholder={{idiomas.Cuenta}} type="text" [formControl]="cuentaForm" name="cuenta">
            <mat-error *ngIf="cuentaForm.hasError('pattern')">
                <strong>{{idiomas.msjSoloNumeros}} </strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlexFill *ngIf="internet.internet">
            <input appHighlight matInput placeholder={{idiomas.Cantidad}} type="text" [formControl]="cantidadForm2">
            <mat-error *ngIf="cantidadForm2.hasError('pattern')">
                <strong>{{idiomas.msjSoloNumeros}} </strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlexFill *ngIf="!internet.internet">
            <input appHighlight matInput placeholder={{idiomas.Cantidad}} type="text" [formControl]="cantidadForm">
            <mat-error *ngIf="cantidadForm.hasError('pattern')">
                <strong>{{idiomas.msjSoloNumeros}} </strong>
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div div fxLayout="row" fxLayoutAlign="center start" class="float">
    <button mat-fab (click)="campos()" class="myfloat" *ngIf="idForm2.valid && !nombreonl && internet.internet" color="primary">
        <mat-icon color="white">check_circle</mat-icon>
    </button>

    <button mat-fab (click)="depositar()" class="myfloat" *ngIf="idForm2.valid  && cantidadForm2.valid && cuentaForm2.valid && internet.internet && nombreonl"
        color="primary">
        <mat-icon color="white">check_circle</mat-icon>
    </button>

    <button mat-fab (click)="depositar()" class="myfloat" *ngIf="idForm.valid  && cantidadForm.valid && cuentaForm.valid && !internet.internet "
        color="primary">
        <mat-icon color="white">check_circle</mat-icon>
    </button>

    <button mat-fab (click)="close()" class="myfloat" color="warn">
        <mat-icon>cancel</mat-icon>
    </button>
</div>